.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* ################################ */

.tab-manager {
	display: flex;
	padding: 24px;
	justify-content: center;
	border-bottom: 1px solid #48484859;
}

.tab {
	padding: 12px;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	padding: 12px 36px;
	margin: 0 24px;
	font-size: 16px;
	letter-spacing: 0.5px;
	transition: all 0.5s ease;
	color: black;
	user-select: none;
}

.tab:hover {
	background-color: rgba(0, 43, 73, 0.17);
}

.selected-tab {
	background-color: #002b49;
	color: white;
}

.tab-content {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
